# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/*
out/*

# Latex
*.log
*.bbl
*.aux
*.dvi
*.toc
*.blg

# Mysterious garbage files
\#*
.#*

# Gecode examples
gecode/examples/*
gecode/examples/*

# Local environment variables
.env
